fastapi==0.111.0
python-multipart
groq


langchain==0.2.5
langchain-groq
langchain-community==0.2.5
langchain-postgres==0.1.0


pgvector


psycopg[binary]


pypdf
docx2txt


vercel-blob
httpx


jinaai